@import '../../App.scss';

.hero {
   .hero-container {

       .hero-row {
           width: 100%;
           height: 20em;
           
           h3 {
               box-shadow:-5px -5px 5px $indigoDye;
           }
           h5 {
               box-shadow: 5px 5px 5px $indigoDye;
           }
       }
   } 
}