@import '../../App.scss';

.about-section {
   .about-section-container {
       .about-row {
           min-height: 30vh;
           font-style: "Roboto";
           
           .description {
               font-size: 14px;
           }
            
           .profile-image {
                border-radius: 10px;
                width: 50%;
            }   
       }
   }
}