@import '../../App.scss';

footer {
    background-color: $primaryColor;
    min-height: 7vh;
}

.copy {
    font-family: $secondaryFont;
    color: $prussianBlue;
    font-size: 1.4em;
}

.social{
    .fa-github-square {
        color: $prussianBlue;
    }
    .fa-github-square:hover {
        color: #AAACB0;
    }

    .fa-linkedin {
        color: $prussianBlue;
    }
    .fa-linkedin:hover {
        color: #194FB5;
    }

    .fa-twitter {
        color: $prussianBlue;
    }
    .fa-twitter:hover {
        color: #2686EC;
    }
}

